/* .fun {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    top: -10px;
    color: #fff;
    background: #172770; ---> comentado
    overflow-y: scroll; ---> comentado
}

.gun {
    background: #172770;
    color: salmon;
}

.cab {
    background: #000;
    color: white;
}

::-webkit-scrollbar { ---> comentado
    display: none;---> comentado
}---> comentado

.image {
    margin: 22px;
    margin-right: 100px; ---> comentado
    margin-left: 93px;
    padding: 10px;
    width: 155px;
    height: 39px;
    cursor: pointer;
}

.list {
    display: flex;
    list-style: none;
    color: #fff;
    margin: 10px 0 0 100px;
    padding: 0;
}

li {
    margin: 30px; 
    margin-top: 30px;
    font-family: 'Poppins';
    font-size: 0.925em;
    font-size: 13px;
    font-weight: 500;
    height: 20px;
}

.item1, .item2, .item3, .item4, .item5 {
    cursor: pointer;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover {
    color: #2c92ff;
}

body{
    background: #000;  
    margin: 0;
    overflowY: "scroll"; ---> comentado
    
}

.btn {
    background: #172770;
    padding-top: 11px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    margin: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #0044ff5e;
}

@media screen and (max-width:1200px) {

    .list {
        display: flex;
        flex-direction: column;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        display: flex; ---> comentado
        flex-direction: column;---> comentado
        width: 100%;---> comentado
        height: 90vh;---> comentado
        position: absolute;---> comentado
        top: 80px;---> comentado
        left: -100%;---> comentado
        opacity: 1;---> comentado
        transition: all 0.5s ease;---> comentado
    }

    li {
        margin: 15px; ---> comentado
        transform: translateX(-300px);
    }

    .item {
        display: grid;
    }

    .fun {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(5px);
    }

    .header {
        top: 0px;
        width: 30px;
        height: 15px;
        right: 5px;
        cursor: pointer;
        padding-left: 0px;
        padding-top: 13px;
        color: #fff;
        transform: translateX(-50px);
    }

    .header::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background: #fff;
        right: 0; 
        cursor: pointer;
        box-shadow: 0 10px #fff, 0 -10px #fff;
    }

    .header::after {
        width: 32px;
    }

    .drop{
        color: #fff;
        transform: translateY(200px); ---> comentado
    }

    .image {
        margin: 10px;
    }

    .Xcontainer{
        display: flex;
        justify-content: center;
        color: #fff;
        position: relative;
        width: 20px;
        height: 30px;
        border-radius: 1px;
        cursor: pointer;
        margin: -30px;
    }

    .Xcontainer::before,
    .Xcontainer::after{
        content: "";
        position: absolute;
        width: 2px; 
        height: 100%;
        background-color: #fff; 
        transform-origin: 50% 50%;
    }

    .Xcontainer::before{
        transform: rotate(45deg);
    }

    .Xcontainer::after{
        transform: rotate(-45deg);
    }
}   */